@model Player
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Please give your name:</p>

    <form class="shadow p-3 rounded text-center"  asp-controller="Home" asp-action="Create" method="post">
        <div class="mb-3">
            <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
            <input class="form-control text-center" asp-for="Name">
        </div>
        <button type="submit">Submit</button>

    </form>
</div>
